{% set section = include_dict.section %}
<section class="content__row content__row--full-width contact__section" data-id="{{section.section_id}}">
  {% if section.image %}<img src="{{ section.image | relative_url }}" alt="" class="contact__image">{% endif %}
  <div class="contact__text-container">
    <h3 class="contact__title">Have any questions? <br> Contact us.</h3>
    <div class="contact__info-container">
      <p class="contact__address">{{ section.address }}</p>
      <p class="contact__telephone">{{ section.phone }}</p>
      <p class="contact__email">{{ section.email }}</p>
      <div class="contact__separator"></div>
      {% if section.mapUrl %}
      <a class="contact__map-link link link--filled link--reversed" href="{{section.mapUrl}}">
        On the map
        <svg width="17" height="24" viewBox="0 0 17 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.25 0c-4.574 0-8.25 3.674-8.25 8.25 0 4.574 8.25 15.75 8.25 15.75s8.25-11.175 8.25-15.75c0-4.576-3.676-8.25-8.25-8.25zM8.25 11.999c-2.099 0-3.75-1.65-3.75-3.75 0-2.099 1.649-3.75 3.75-3.75 2.099 0 3.75 1.649 3.75 3.75s-1.651 3.75-3.75 3.75z"></path>
        </svg>
      </a>
      {% endif %}
    </div>
  </div>
</section>