<ul class="product-grid product-grid--draggable">
    {% set products = include_dict.products %}

    {% for product in products %}
        <li class="product-grid__item">
            <figure data-href="{{ product.url | relative_url }}" class="js-figure-link product-grid__item-figure js-figure-link">
                {% set include_dict = {'image': product.images.featured.thumbnail, 'alt': product.title, 'cssClass': 'product-grid__item-image product-grid__item-image--featured'} %}
                {% include "picture.html" %}
                <figcaption>
                    {% set include_dict= {'product': product, 'component': 'product-grid'} %}
                    {% include "small_buy_button.html" %}
                </figcaption>
            </figure>
            <div class="product-grid__definition">
                <h3 class="product-grid__title"> <a href="{{ product.url | relative_url }}"> {{ product.title }} </a> </h3>
                <span class="product-grid__category"> {{ product.category }} </span>
                <span class="product-grid__price"> ${{ product.price }} </span>
            </div>
        </li>
    {% endfor %}
</ul>