{% extends "body.html" %}
{% block content %}
<main class="content about">
  {% set include_dict = {'page': page} %}
  {% include "static_header.html" %}
  {% for bulletpoint in page.params.bulletpoints %}
    <section class="content__row about__section">
      {% set include_dict = {'image': bulletpoint.image, 'alt': bulletpoint.title, 'cssClass': 'about__section-image'} %}
      {% include "picture.html" %}
      <div class="about__section-content-container">
        <h2 class="about__section-title">{{ bulletpoint.title }}</h2>
        <div class="about__section-content">
          {{ bulletpoint.description | markdownify }}
        </div>
      </div>
    </section>
  {% endfor %}

  {% set include_dict = {'site': site} %}
  {% include "promo_section.html" %} 
</main>
{% endblock %}