{% extends "base.html" %}
{% block body %} 
    {% if page.basename == "index.md" %}
        <div class="header-wrapper">
            <div class="header-wrapper__overlay">
                {% set include_dict = {'page': page} %}
                {% include "hero.html" %}
                {% set include_dict = {'page': page, 'site': site} %}
                {% include "header.html" %}
            </div>
        </div>
    {% else %}
        {% set include_dict = {'page': page, 'site': site} %}
        {% include "header.html" %}
    {% endif %}

    {% block content %}{% endblock %}

    {% set include_dict = {'page': page,'site': site} %}
    {% include "footer.html" %}
    {% include "snipcart_templates.html" %}
{% endblock %}
