{% extends "body.html" %}
{% block content %}
{% set store_page = getPage('/store') %}
<main class="content{% if store_page.params.page_css_class %} {{store_page.params.page_css_class}}{%endif%}">
    {% for section in store_page.params.sections %}
        {% if section.type === 'store_section' %}
            {% set include_dict = {'section': section, 'page': page, 'category_url': page.url, 'site': site} %}
            {% set component = section.type | component_file %}
            {% include component %}
        {% else %}
            {% set include_dict = {'section': section, 'page': page, 'site': site} %}
            {% set component = section.type | component_file %}
            {% include component %}
        {% endif %}
    {% endfor %}
</main>
{% endblock %}