{% extends "body.html" %}
{% block content %}
    <main class="content">
        <section class="product content__row content__row--full-width">
            <div class="product__background-left-overlay"></div>
            <div class="product__background-left" style="background-image: url({{site.params.bg_image_primary | relative_url}})"></div>
            <div class="product__background-right" style="background-image: url({{site.params.bg_image_secondary | relative_url}})"></div>
            <div class="product__header">
                <a href="{{ '/store' | relative_url }}" class="product__back-to-store-link">
                    <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73859 4.30914H19.75V5.59286H2.63961L6.06986 8.98864L5.17449 9.875L0.25 5L5.17449 0.125L6.06986 1.01136L2.73859 4.30914Z" fill="#88DD9B"/>
                    </svg>                        
                    see all products
                </a>
            </div>
            <figure class="product__figure">
                {% set include_dict = {'image': page.params.default_original_image, 'alt': page.title, 'cssClass': 'product__image'} %}
                {% include "picture.html" %}
            </figure>
            <div class="product__details">
                <h1 class="product__title">
                    {{ page.title }}
                </h1>

                {% if page.params.category %}
                    {% set category_page = getPageByFilePath(page.params.category) %}
                    <h2 class="product__category">
                        <a href="{{ category_page.url | relative_url }}"> {{ category_page.title }} </a>
                    </h2>
                {% endif %}
                <div class="product__price">
                    ${{ page.params.price }}
                </div>

                <article class="product__description">
                    {{ page.params.description }}
                </article>

                {% set include_dict = {'product_page': page} %}
                {% include "buy_button.html" %}
            </div>
        </section>

        {% if page.params.category %}
            <section class="content__row">
                <h2 class="content__row-title">Related</h2>
                {% set product_pages = getPages('/products') | sort_array('order', 'asc') | where('id', '!=', page.params.id) %}
                {% set category_page = getPageByFilePath(page.params.category) %}
                {% set include_dict = {'product_pages': product_pages, 'category_url': category_page.url, 'cssClass': 'store__product-grid', 'site': site} %}

                {% include "product_grid.html" %}
            </section>
        {% endif %}

        <a href="{{ '/store' | relative_url }}" class="content__row content__row--full-width content__row--mb-0 product__back-to-store" style="background-image: url({{site.params.bg_image_product | relative_url}})">
            <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.73859 4.30914H19.75V5.59286H2.63961L6.06986 8.98864L5.17449 9.875L0.25 5L5.17449 0.125L6.06986 1.01136L2.73859 4.30914Z" fill="white"/>
            </svg>                        
            see all products
        </a>
    </main>
{% endblock %}