.product {
    display: grid;
    grid-template-columns: auto repeat(5, minmax(50px, 260px)) auto;
    grid-template-rows: 210px $spacing--unit*64 $spacing--unit*9;
    margin-top: -110px;

    &__background-left-overlay {
        background: radial-gradient(at 35% top, rgba(black, 0.35), rgba(black, 0.25));
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        z-index: 1;
        @include smaller-than-tablet { 
            grid-column: 1 / 8;
            grid-row: 1 / 3;
            margin-bottom: 20%;
        }
    }

    &__background-left { 
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        background-size: cover;
        @include smaller-than-tablet { 
            grid-column: 1 / 8;
            grid-row: 1 / 3;
            margin-bottom: 20%;
        }
    }

    &__background-right { 
        grid-column: 3 / 8; 
        grid-row: 1 / 4;
        background-color: $color_default;
        background-size: auto 250%;
        background-position: calc(50% + 200px) 50%;
        background-position-y: -650px;
        @include smaller-than-tablet { display: none; }
    }

    &__header {
        position: relative;
        z-index: 1;
        grid-column: 2 / 7;
        grid-row: 1;
        font-weight: bold;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;

        margin-bottom: 50px;
    }
    
    &__details {
        max-width: 450px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 100px;
        grid-column: 4 / 7;
        grid-row: 2 / 3; 
        @include smaller-than-tablet {
            margin-top: 50px;
            grid-row: 3;
            grid-column: 2 / 7;
            margin-left: 0;
            min-width: 100%;
        }
    }

    &__figure {
        display: flex;
        align-items: center;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        @include smaller-than-tablet {
            grid-column: 2 / 7;
            grid-row: 2;
            justify-content: center;
        }
    }

    &__image {
        position: relative;
        z-index: 1;
        width: 100%;
        object-fit: cover;
        box-shadow: -72px 36px 56px rgba(0, 0, 0, 0.14);
        border-radius: 8px;
        max-width: 100%;
        @include smaller-than-tablet { 
            max-width: 400px;
            height: auto;
        }
    }

    &__title {
        font-family: $font_family_primairy;
        font-weight: bold;
        font-size: 42px;
        margin-bottom: 20px;
        color: $color_dark_grey;
        
        @include smaller-than-tablet { 
            font-size: $font_size_large;
        }
    }

    &__category {
        font-weight: 600;
        font-family: $font_family_primairy;
        text-transform: uppercase;
        font-size: $font_size_medium;
        margin-bottom: 25px;

        @include smaller-than-tablet { 
            font-size: $font_size_regular;
        }
    }

    &__price {
        font-family: $font_family_primairy;
        margin-bottom: $spacing--unit*5;
        font-size: $font_size_large;
        font-weight: 600;
        color: $color_dark_grey;

        @include smaller-than-tablet { 
            font-size: $font_size_medium;
        }
    }

    &__description {
        font-size: $font_size_regular;
        color: $color_medium;
        margin-bottom: 20px;
        line-height: 150%;
        @include smaller-than-tablet { font-size: $font_size_regular; }
    }

    &__back-to-store {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $spacing--unit*13;
        background-color: $color_active;
        font-size: $spacing--unit*2;  
        color: white;      
        background-size: auto 700%;
        background-position: center;

        svg { 
            margin: 0;
            margin-right: 10px;
            height: 26px;
        }        
    }

    &__back-to-store-link {
        color: white;
        font-weight: 400;
        font-size: $spacing--unit*2;
        svg {
            margin-right: $spacing--unit*2;
        }
    }

    @include smaller-than-max-width { 
        grid-template-columns: 50px repeat(5, minmax(50px, 260px)) 50px; 
    }
    
    @include smaller-than-tablet {
        grid-template-columns: 25px repeat(5, minmax(50px, 260px)) 25px; 
        grid-template-rows: 210px 1fr auto; 
        button {
            width: 100%; 
            display: flex; 
            justify-content: center;
            align-items: center;
        }
    }
}