.form__separator {
    border: none;
    border-top: solid 1px $color_light;
}

.snipcart {
    &-layout {
        background-color: transparent;
    }

    &-layout__header {
        min-height: 80px;
        margin-top: $spacing--unit*2;
        margin-bottom: $spacing--unit*2;

        @include smaller-than-tablet {
            margin-bottom: 0;
        }
    }

    &-cart-button {
        border-radius: $spacing--unit;
    }

    &-cart-header {
        background-color: transparent;
    }

    &-cart-header__title {
        img {
            margin-left: auto;
            margin-right: auto;
            max-height: $spacing--unit*5;
        }
    }

    &-modal__logo {
        margin-left: auto;
        margin-right: auto;
        max-height: $spacing--unit*5;
    }

    &-modal__container {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: $background_images_cart;
    }

    &-cart-button--highlight {
        background-image: none;
        background-color: $color_active;
        
        &:hover {
            background-color: $color_active_medium;
        }
    }

    &-cart__content {
        background-color: transparent;
    }
    
    &__icon {
        path.active {
            fill: $color_active;
        }
    }

    &__icon--blue-light {
        path {
            fill: $color_active;
        }
    }

    &-form-input:focus {
        border-color: $color_active;
    }

    &-discount-box {
        background-color: transparent;
        border-color: #6B797A;
    }

    &-discount-box__form {
        border-color: #6B797A;
    }

    &-discount-box__button {
        border-color: #6B797A;
    }

    &-discount-box__submit {
        color: $color_active;
    }

    &__box--badge-highlight {
        background-image: none;
        background: linear-gradient(90deg, #384647 0%, #6B797A 100%);
    }
    
    &__order__invoice__number--highlight {
        color: $color_active;
    }

    &__actions--link {
        color: $color_active_medium;
    }

    &__icon--blue-dark {
        path {
            fill: $color_active_medium;
        }
    }

    &__form__radio:checked+label:before {
        background: none;
        background-color: $color_active;
        border-color: $color_active_light;
    }

    &__shipping__rates__item--highlight {
        border-color: $color_active_medium;
    }

    &__modal {
        background-color: rgba($color_light, 1);

        &__container {
            background-color: rgba($color_light, 1);
        }

        &__header {
            background-color: rgba($color_light, 1);
        }
    }

    &-item-line__image {
        border-radius: 8px;
    }
}