.header-section {
  background-color: $color_light;

  &__header {
    max-width: none;
    padding-top: 250px;
    padding-bottom: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_default;
    background-size: auto 250%;
    background-position: calc(50% + 400px) 50%;
    overflow-y: visible;
    margin-top: -110px;
    margin-bottom: -100px;
  }

  &__content {
    max-width: 450px;
    color: $color_light_grey;
    line-height: 150%;
    padding-bottom: 50px;

    &:last-child     { margin-bottom: 0 }
    &:after {
      content:"";
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      display: block;
      background: $color_active;
      height: 3px;
      width: 60px;
    }
  }

  &__title {
    font-family: $font_family_primairy;
    font-weight: bold;
    font-size: $font_size_xxlarge;
    max-width: 600px;
    color: $color_dark_grey;
    margin-bottom: 50px;
    overflow: visible;
    @include smaller-than-tablet {
      font-size: $font_size_large;
    }
  }
}